<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.


Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
#!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 16.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1142918 sha256=f0120b108a026c8fc2befc65b8e67c0ce93a53d3251f3beb32d7d3b9508646c0
  Stored in directory: c:\users\junior\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [9]:
#!pip install sql

Collecting sql
  Downloading sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sql
  Building wheel for sql (setup.py): started
  Building wheel for sql (setup.py): finished with status 'done'
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4307 sha256=be4468f54fd94635b5d3928c4359b5cd5521a9ab91d599cec02f7dc9be736a65
  Stored in directory: c:\users\junior\appdata\local\pip\cache\wheels\46\08\97\9539d985c524b7a3793898bbf6c95879a0e9daf5fc9ba49fd0
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

In [11]:
#conda install -c conda-forge ipython-sql

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Junior\anaconda3

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.7.22  |       h56e8100_0         146 KB  conda-forge
    certifi-2023.7.22          |     pyhd8ed1ab_0         150 KB  conda-forge
    ipython-sql-0.3.9          |  pyhd8ed1ab_1004          18 KB  conda-forge
    libblas-3.9.0              |1_h8933c1f_netlib         193 KB  conda-forge
    libcblas-3.9.0             |5_hd5c7e75_netlib          95 KB  conda-forge
    liblapack-3.9.0            |5_hd5c7e75_netlib         2.7 MB  conda-forge
    m2w64-gcc-libgfortran-5.3.0|                6         342 KB  conda-forge
    m2w64-gcc-libs-5.3.0       |                7         520 KB  conda-forge
    m2w64-gcc-libs-core-5.3.0  |                7         214 KB  conda-forge
    m2w64-gmp-6.1.0            |                2         726 KB  conda-forge
    numpy-1.21.6               |   py39h6331f09_0         5.4 MB  conda-forge
    prettytable-3.8.0          |     pyhd8ed1ab_0          29 KB  conda-forge
    sqlalchemy-1.4.13          |   py39hb82d6ee_0         2.3 MB  conda-forge
    sqlparse-0.4.4             |     pyhd8ed1ab_0          37 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        12.8 MB

The following NEW packages will be INSTALLED:

  ipython-sql        conda-forge/noarch::ipython-sql-0.3.9-pyhd8ed1ab_1004
  libblas            conda-forge/win-64::libblas-3.9.0-1_h8933c1f_netlib
  libcblas           conda-forge/win-64::libcblas-3.9.0-5_hd5c7e75_netlib
  liblapack          conda-forge/win-64::liblapack-3.9.0-5_hd5c7e75_netlib
  m2w64-gcc-libgfor~ conda-forge/win-64::m2w64-gcc-libgfortran-5.3.0-6
  m2w64-gcc-libs     conda-forge/win-64::m2w64-gcc-libs-5.3.0-7
  m2w64-gcc-libs-co~ conda-forge/win-64::m2w64-gcc-libs-core-5.3.0-7
  m2w64-gmp          conda-forge/win-64::m2w64-gmp-6.1.0-2
  prettytable        conda-forge/noarch::prettytable-3.8.0-pyhd8ed1ab_0
  sqlalchemy         conda-forge/win-64::sqlalchemy-1.4.13-py39hb82d6ee_0
  sqlparse           conda-forge/noarch::sqlparse-0.4.4-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2023.05.30~ --> conda-forge::ca-certificates-2023.7.22-h56e8100_0
  certifi            pkgs/main/win-64::certifi-2023.5.7-py~ --> conda-forge/noarch::certifi-2023.7.22-pyhd8ed1ab_0
  numpy              pkgs/main::numpy-1.21.5-py39h7a0a035_3 --> conda-forge::numpy-1.21.6-py39h6331f09_0



Downloading and Extracting Packages

numpy-1.21.6         | 5.4 MB    |            |   0%

m2w64-gcc-libs-5.3.0 | 520 KB    |            |   0%


m2w64-gcc-libs-core- | 214 KB    |            |   0%



liblapack-3.9.0      | 2.7 MB    |            |   0%




sqlparse-0.4.4       | 37 KB     |            |   0%





m2w64-gcc-libgfortra | 342 KB    |            |   0%






ca-certificates-2023 | 146 KB    |            |   0%







libblas-3.9.0        | 193 KB    |            |   0%








libcblas-3.9.0       | 95 KB     |            |   0%









certifi-2023.7.22    | 150 KB    |            |   0%










prettytable-3.8.0    | 29 KB     |            |   0%











sqlalchemy-1.4.13    | 2.3 MB    |            |   0%












m2w64-gmp-6.1.0      | 726 KB    |            |   0%













ipython-sql-0.3.9    | 18 KB     |            |   0%


m2w64-gcc-libs-core- | 214 KB    | 7          |   7%



liblapack-3.9.0      | 2.7 MB    |            |   1%




sqlparse-0.4.4       | 37 KB     | ####3      |  44%

m2w64-gcc-libs-5.3.0 | 520 KB    | 3          |   3%




sqlparse-0.4.4       | 37 KB     | ########## | 100%
numpy-1.21.6         | 5.4 MB    |            |   0%





m2w64-gcc-libgfortra | 342 KB    | 4          |   5%



liblapack-3.9.0      | 2.7 MB    | #3         |  14%


m2w64-gcc-libs-core- | 214 KB    | ########## | 100%


m2w64-gcc-libs-core- | 214 KB    | ########## | 100%

m2w64-gcc-libs-5.3.0 | 520 KB    | ####6      |  46%






ca-certificates-2023 | 146 KB    | #          |  11%
numpy-1.21.6         | 5.4 MB    | 4          |   4%





m2w64-gcc-libgfortra | 342 KB    | #######    |  70%



liblapack-3.9.0      | 2.7 MB    | #####9     |  60%






ca-certificates-2023 | 146 KB    | ########## | 100%







libblas-3.9.0        | 193 KB    | 8          |   8%









certifi-2023.7.22    | 150 KB    | #          |  11%





m2w64-gcc-libgfortra | 342 KB    | ########## | 100%
numpy-1.21.6         | 5.4 MB    | #2         |  12%








libcblas-3.9.0       | 95 KB     | #6         |  17%

m2w64-gcc-libs-5.3.0 | 520 KB    | ########## | 100%

m2w64-gcc-libs-5.3.0 | 520 KB    | ########## | 100%










prettytable-3.8.0    | 29 KB     | #####4     |  55%












m2w64-gmp-6.1.0      | 726 KB    | 2          |   2%









certifi-2023.7.22    | 150 KB    | ########## | 100%








libcblas-3.9.0       | 95 KB     | ########## | 100%
numpy-1.21.6         | 5.4 MB    | ####3      |  44%










prettytable-3.8.0    | 29 KB     | ########## | 100%







libblas-3.9.0        | 193 KB    | ########## | 100%







libblas-3.9.0        | 193 KB    | ########## | 100%













ipython-sql-0.3.9    | 18 KB     | ########7  |  87%













ipython-sql-0.3.9    | 18 KB     | ########## | 100%












m2w64-gmp-6.1.0      | 726 KB    | ####6      |  46%











sqlalchemy-1.4.13    | 2.3 MB    |            |   1%
numpy-1.21.6         | 5.4 MB    | #######9   |  79%












m2w64-gmp-6.1.0      | 726 KB    | #########2 |  93%











sqlalchemy-1.4.13    | 2.3 MB    | ##2        |  22%












m2w64-gmp-6.1.0      | 726 KB    | ########## | 100%



liblapack-3.9.0      | 2.7 MB    | ########## | 100%



liblapack-3.9.0      | 2.7 MB    | ########## | 100%











sqlalchemy-1.4.13    | 2.3 MB    | #########6 |  96%











sqlalchemy-1.4.13    | 2.3 MB    | ########## | 100%
numpy-1.21.6         | 5.4 MB    | ########## | 100%











































































































Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==custom=py39_1
  - defaults/win-64::astropy==5.1=py39h080aedc_0
  - defaults/win-64::bkcharts==0.2=py39haa95532_1
  - defaults/win-64::bokeh==2.4.3=py39haa95532_0
  - defaults/win-64::bottleneck==1.3.5=py39h080aedc_0
  - defaults/win-64::cython-blis==0.7.9=py39h080aedc_0
  - defaults/win-64::daal4py==2021.6.0=py39h757b272_1
  - defaults/win-64::dask==2022.7.0=py39haa95532_0
  - defaults/win-64::datashader==0.14.1=py39haa95532_0
  - defaults/win-64::datashape==0.5.4=py39haa95532_1
  - fastai/noarch::fastai==2.7.12=py_0
  - defaults/win-64::gensim==4.1.2=py39hd77b12b_0
  - defaults/win-64::h5py==3.7.0=py39h3de5c98_0
  - defaults/win-64::holoviews==1.15.0=py39haa95532_0
  - defaults/win-64::hvplot==0.8.0=py39haa95532_0
  - defaults/win-64::imagecodecs==2021.8.26=py39hc0a7faf_1
  - defaults/win-64::imageio==2.19.3=py39haa95532_0
  - defaults/noarch::intake==0.6.5=pyhd3eb1b0_0
  - defaults/win-64::lightgbm==3.3.5=py39hd77b12b_0
  - defaults/win-64::matplotlib==3.5.2=py39haa95532_0
  - defaults/win-64::matplotlib-base==3.5.2=py39hd77b12b_0
  - defaults/win-64::mkl_fft==1.3.1=py39h277e83a_0
  - defaults/win-64::mkl_random==1.2.2=py39hf11a4ad_0
  - defaults/win-64::numba==0.55.1=py39hf11a4ad_0
  - defaults/win-64::numexpr==2.8.3=py39hb80d3ca_0
  - defaults/win-64::numpy==1.21.5=py39h7a0a035_3
  - defaults/win-64::pandas==1.4.4=py39hd77b12b_0
  - defaults/win-64::panel==0.13.1=py39haa95532_0
  - defaults/win-64::patsy==0.5.2=py39haa95532_1
  - defaults/win-64::pyerfa==2.0.0=py39h2bbff1b_0
  - defaults/win-64::pytables==3.6.1=py39h56d22b6_1
  - defaults/win-64::pywavelets==1.3.0=py39h2bbff1b_0
  - defaults/win-64::scikit-image==0.19.2=py39hf11a4ad_0
  - defaults/win-64::scikit-learn==1.0.2=py39hf11a4ad_1
  - defaults/win-64::scikit-learn-intelex==2021.6.0=py39haa95532_0
  - defaults/win-64::scipy==1.9.1=py39he11b74f_0
  - defaults/noarch::seaborn==0.11.2=pyhd3eb1b0_0
  - defaults/win-64::spacy==3.5.3=py39hef0f399_0
  - defaults/win-64::statsmodels==0.13.2=py39h2bbff1b_0
  - defaults/win-64::thinc==8.1.10=py39hf497b98_0
  - defaults/noarch::tifffile==2021.7.2=pyhd3eb1b0_2
  - pytorch/win-64::torchaudio==0.13.1=py39_cu116
  - pytorch/win-64::torchvision==0.14.1=py39_cu116
  - defaults/noarch::xarray==0.20.1=pyhd3eb1b0_1
  - defaults/win-64::_anaconda_depends==2022.10=py39_2


==> WARNING: A newer version of conda exists. <==
  current version: 23.1.0
  latest version: 23.5.2

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.5.2

In [12]:
conda install conda=23.5.2

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Junior\anaconda3

  added / updated specs:
    - conda=23.5.2


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    boltons-23.0.0             |   py39haa95532_0         421 KB
    conda-23.5.2               |   py39haa95532_0         1.0 MB
    jsonpatch-1.32             |     pyhd3eb1b0_0          15 KB
    jsonpointer-2.1            |     pyhd3eb1b0_0           9 KB
    packaging-23.0             |   py39haa95532_0          69 KB
    ------------------------------------------------------------
                                           Total:         1.5 MB

The following NEW packages will be INSTALLED:

  boltons            pkgs/main/win-64::boltons-23.0.0-py39haa95532_0
  jsonpatch          pkgs/main/noarch::jsonpatch-1.32-pyhd3eb1b0_0
  jsonpointer        pkgs/main/noarch::jsonpointer-2.1-pyhd3eb1b0_0

The following packages will be UPDATED:

  conda              conda-forge::conda-23.1.0-py39hcbf530~ --> pkgs/main::conda-23.5.2-py39haa95532_0
  packaging          pkgs/main/noarch::packaging-21.3-pyhd~ --> pkgs/main/win-64::packaging-23.0-py39haa95532_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2023.7.2~ --> pkgs/main::ca-certificates-2023.05.30-haa95532_0
  certifi            conda-forge/noarch::certifi-2023.7.22~ --> pkgs/main/win-64::certifi-2023.5.7-py39haa95532_0



Downloading and Extracting Packages

jsonpointer-2.1      | 9 KB      |            |   0%

boltons-23.0.0       | 421 KB    |            |   0%


packaging-23.0       | 69 KB     |            |   0%



conda-23.5.2         | 1.0 MB    |            |   0%




jsonpatch-1.32       | 15 KB     |            |   0%

boltons-23.0.0       | 421 KB    | 3          |   4%



conda-23.5.2         | 1.0 MB    | 1          |   2%
jsonpointer-2.1      | 9 KB      | ########## | 100%


packaging-23.0       | 69 KB     | ##3        |  23%




jsonpatch-1.32       | 15 KB     | ########## | 100%
jsonpointer-2.1      | 9 KB      | ########## | 100%




jsonpatch-1.32       | 15 KB     | ########## | 100%


packaging-23.0       | 69 KB     | ########## | 100%

boltons-23.0.0       | 421 KB    | ####5      |  46%



conda-23.5.2         | 1.0 MB    | ##4        |  25%

boltons-23.0.0       | 421 KB    | ########## | 100%

boltons-23.0.0       | 421 KB    | ########## | 100%



conda-23.5.2         | 1.0 MB    | ########## | 100%



conda-23.5.2         | 1.0 MB    | ########## | 100%

















Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [4]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\Users\Junior\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [19]:
%sql select distinct("Landing_Outcome") from spacextbl

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',),
 (None,)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
%sql select * from spacextbl \
    where "Launch_Site" like 'CCA%' \
    limit 5

 * sqlite:///my_data1.db
Done.

[('06/04/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0.0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('12/08/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0.0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525.0, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('10/08/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('03/01/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677.0, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql select sum("PAYLOAD_MASS__KG_") as 'Total NASA Payload' from spacextbl \
    where customer == 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596.0,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [22]:
%sql select avg("PAYLOAD_MASS__KG_") as 'Average Payload Mass' from spacextbl \
    where "Booster_Version" like 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [23]:
%sql select date from spacextbl \
    where "Landing_Outcome" == 'Success (ground pad)' \
    order by "Landing_Outcome" desc \
    limit 1

 * sqlite:///my_data1.db
Done.

[('22/12/2015',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
%sql select "Booster_Version" as 'Booster Name' from spacextbl \
    where "Landing_Outcome" == 'Success (drone ship)' \
    and 4000 > "PAYLOAD_MASS__KG_" < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT  B1021.2',),
 ('F9 FT  B1029.2',),
 ('F9 FT B1036.1',),
 ('F9 FT B1038.1',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1042.1',),
 ('F9 B4 B1045.1',),
 ('F9 B5  B1046.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [25]:
%sql select count("Mission_Outcome") as 'Successful Mission Counts', \
    (select count("Mission_Outcome") from spacextbl \
    where "Mission_Outcome" like 'Failure%') as 'Failed Mission Counts' from spacextbl \
    where "Mission_Outcome" like 'Success%'

 * sqlite:///my_data1.db
Done.

[(100, 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [26]:
%sql select "Booster_Version" from spacextbl \
    where "PAYLOAD_MASS__KG_" = (select max("PAYLOAD_MASS__KG_") from spacextbl)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [27]:
%sql SELECT substr(Date, 4,2) as 'Date', "Landing_Outcome", "Booster_Version", "Launch_Site" from spacextbl \
    where "Landing_Outcome" = 'Failure (drone ship)' \
    and substr(Date,7,4) = '2015'

 * sqlite:///my_data1.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [28]:
%sql select "Landing_Outcome", count("Landing_Outcome") as 'Landing Count' from spacextbl \
    group by "Landing_Outcome" \
    order by count("Landing_Outcome") desc

 * sqlite:///my_data1.db
Done.

[('Success', 38),
 ('No attempt', 21),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Failure (drone ship)', 5),
 ('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1),
 ('No attempt ', 1),
 (None, 0)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>